@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}
/** To remove all automatic padding and margins**/

body{
    display: grid;
    background-color: #92BCEA;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "image"
    "nav"
    "main"
    "footer";
}

.myHeader{
    margin-left: 3em;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

.myNav{
    margin: 1em;
    font-weight: bold;
}

header{
    font-family: 'Bebas Neue', cursive;
    grid-area: header;
    background-color: #AFB3F7;

}

nav{
    margin-bottom: 1em;
    font-family: 'Roboto', sans-serif;
    grid-area: nav;
    margin-right: 0.3em;
    background-color: #7A93AC;
}


.resize{
    width: 23.4em;
    height: 15em;
}


.hamburger{
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid black;
    border-bottom: 0.2em solid black;
}

.hamburger::before{
    content: "";
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid black;
}

nav{
    display: block;
    background-color: yellow;
    position: fixed;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100vh;
    transition: transform 0.5s ease-in; /*creating sliding menu*/
}

#clicked .on{
    display: block;
}
#clicked .off{
    display: none;
}
#clicked:target .on{
    display: none;
}
#clicked:target .off{
    display: block;
}
#clicked:target nav{
    display: block;
    transform: translate(100%,0); /*creating sliding menu*/
}

.textarea{
    margin-right: 1em;
    grid-area: main;
}





