@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "nav main aside"
    "footer footer footer"
    ;
}

.myList{
    margin: 1em;
}

.myClass{
    margin-left: 13em;
}

header{
    background-color: #05668D;
    grid-area: header;
    padding: 1em;
    font-family: 'Roboto', sans-serif;
}

nav{
    background-color: #00A896;
    grid-area: nav;
    margin-top: 3em;
    font-family: 'Roboto', sans-serif;
}

main{
    background-color: #028090;
    grid-area: main;
    padding: 2em;
    border: 2px red;
    font-family: 'Roboto', sans-serif;
}

aside{
    background-color: #00A896;
    grid-area: aside;
    font-family: 'Roboto', sans-serif;
}

footer{
    background-color: #F0F3BD;
    grid-area: footer;
    padding: 0.3em;
}