body{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "nav main aside"
    "footer footer footer"
    ;
}

.circle{
    width: 10em;
    height: 10em;
    background-color: aqua;
    border-radius: 100%;
    animation: move 15s infinite;
}

@keyframes move_the_circle {
    0% {
        transform: translate(0,0);
    }

    50% {
        transform: translate(75vw, 75vh);
    }

    100%{
        transform: translate(0,0);
    }

}