@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

font-family: 'Roboto', sans-serif;

h1 {
    color: red;
    display: block;
    margin-bottom: 50px;
    margin-left: 50px;
    padding: 10px;
    text-transform: uppercase;
    box-shadow: 3px 3px 3px #000;
    border: 3px splid #000;
    border-radius: 20px;
    
}
p {
    color: blue;
}
ul {
    color: blue;
    display: block;
    margin-bottom: 50px;
    padding: 10px;
    box-shadow: 3px 3px 3px #000;
    border: 3px splid #000;
    border-radius: 20px;
}
body {
    background-color: grey;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "nav main side"
    "footer footer footer"
    
;
}
