@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}
/** To remove all automatic padding and margins**/

body{
    background-color: #92BCEA;
}

header{
    background-color: #AFB3F7;
    padding: 0.6em;
    font-family: 'Bebas Neue', cursive;
    grid-area: header;
}

.textarea{
    margin-left: 17em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.myNav{
    margin: 0.3em;
}

nav{
    margin-bottom: 1em;
    font-family: 'Roboto', sans-serif;
    grid-area: nav;
    margin-right: 0.3em;
    background-color: #7A93AC;
}

.myNav:hover{
    background-color: #028090
    ;
}

.myNav{
    font-weight: bold;
}

footer{
    background-color: yellow;
}